<div class="container p-5" ">

    
        <div class=" col-md- mx-auto">{{!Columna de 4 //// Se hace poniendo .col-md-4}}
  {{!mx auto centra la tarjeta }}

  



  <table class="table table-dark" align="center" border="1" class="table table-condensed table-bordered table-hover">
    <tr class="tabla">
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Url</th>
      <th scope="col">Creado</th>

    </tr>
    </thead>
    <tbody>
      {{#each links}}
      <tr style="background-color: cadetblue;">
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>{{url}} </td>
        <td>{{timeago created_at}}</td>
        <td><a href="{{url}}" class="btn btn-success"> Ir</a> </td>



      </tr>


</div>


</div>
{{/each}}
</tbody>
</table>

<a href="/profile" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Regresar</a>



</div>